<ul class="social-media-list">
  {%- if site.github_username -%}
  <li>
    <a href="https://github.com/{{ site.github_username | cgi_escape | escape }}" title="{{ site.github_username | escape }}">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
      </svg>
    </a>
  </li>
  {%- endif -%}

  {%- if site.social.github -%}
  <li>
    <a href="https://github.com/{{ site.social.github | cgi_escape | escape }}" title="{{ site.social.github | escape }}">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
      </svg>
    </a>
  </li>
  {%- endif -%}
</ul>
